<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, inittial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=chrome" />
    <title>Motion</title>

    <style>
        html,
        body {
            margin: 0;
            height: 100%;
        }

        #c {
            width: 100%;
            height: 100%;
            display: block;
        }
    </style>
</head>

<body>
    <center>
        <font face="verdana">
            <h1>MOTION</h1>

            The motions and movements of different things<br>
            ------------------------------------------------------<br><br>
            <a href="../scenes/motion/scene_human.html">Human</a>
        </font>
    </center>
</body>

</html>